---
layout: default
---

<form action="/search.html" method="get">
		<label for="search_box">Search</label>
		<input type="text" id="search_box" name="query">
		<input type="submit" value="search">
	</form>

<div class="home">

  <h1 class="page-heading"></h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></h1><p class="">{{post.intro}}...<button class="button_black"><a  href="{{ post.url | prepend: site.baseurl }}">Read More</a></button></p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

<!-- <div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div> -->
